body{
  background-color: greenyellow;
  font-family: 'Titillium web';
}

.head{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  background-color:rgb(108, 240, 21);
}

.logo-smile{
  width: 70px;
  padding-top: 10px;
  transition: 250ms;
}

.logo-smile:hover{
  transform: scale(1.1);
}

.menu{
  display: flex;
}

.menu li{
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

.menu li a, .log{
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: azure;
  text-shadow: 3px 3px 3px #000;
  transition: 250ms;
}

.menu li a:hover{
  text-shadow: 5px 5px 3px #000;
}

.log:hover{
  text-shadow: 5px 5px 3px #000;
}

.sing{
  width: 80px;
  height: 30px;
}

.section{
  max-width: 800px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin: 20px auto;
}

.gal{
  width: 200px;
  height: 250px;
  margin: 20px;
  border: solid 1px black;
}

.gal h3{
  text-align: center;
}

.img{
  width: 200px;
  height: 200px;
}

